.Wrapper_Links {
  display: flex;
  margin-top: 1.25rem;
  width: 40%;
  justify-content: space-between;
}
.Instagram {
  display: block;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  background-image: url("../../assets/icons/instagram-brands.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.Facebook {
  display: block;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  background-image: url("../../assets/icons/facebook-f-brands.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.Twitter {
  display: block;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  background-image: url("../../assets/icons/twitter-brands.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
