@font-face {
  font-family: "Night Machine";
  src: url("./assets/fonts/night_machine/Night\ Machine.otf") format("opentype");
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1920px;
  font-family: "Raleway";
  overflow: hidden;
  font-weight: 400;
}
